<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footy Hot Takes</title>
</head>
<body>
    <h1>Footy Hot Takes</h1>
    <p>What's your hottest football opinion? Login or Signup below to drop it!</p>
    <a href="/login"> Login</a>
    <a href="/signup"> Signup</a>
</body>
</html>