<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drop your take</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Welcome to Footy Hot Takes</h1>
    <p>Say what you want and vote on the most outrageous takes</p>

    <div class="takes_form">
        <form action="../takes/createTakes" method="POST">
            <input type="text" placeholder="What is on your mind?" name="hotTake">
            <button>Post</button>
        </form>
    </div>

    <div class="trending">
        <h3>Trending takes</h3>

        <ul>
            <% takeContent.forEach( el => { %>
                <li class='takesItem' data-id='<%=el._id%>'>
                    <span class=''><%= el.takeContent %></span>
                    <span class="likes"><%= el.likes %> Likes </span>
                    <span class="dislikes"><%= el.dislikes %> Dislikes </span>
                    <span class='del'>Delete</span>
                </li>
            <% }) %>    
            </ul>

    </div>

    <a href="/logout">Logout</a>

   


    <script src="js/main.js"></script>
    
</body>
</html>